*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# ignore lib
lib/
libs/
assets/

# ignore classpath and project files
.classpath
.project
.cache

